.dumps
.vs
.idea
assets_pc
assets_android
build-*
check*
DummyApp*.exe
DummyAppVK
libDummyApp*.so
ModlApp.exe
DummyApp.apk
test.txt
test.mesh
*.blend1
*.json1
*.json2
*.json3
*.json4
*.json5
*.json6
*.json7
*.json8
cmake-build*
.DS_Store
