[submodule "src/Eng"]
	path = src/Eng
	url = https://github.com/SerhiiY-94/Eng.git
[submodule "src/Ren"]
	path = src/Ren
	url = https://github.com/SerhiiY-94/Ren.git
[submodule "src/Sys"]
	path = src/Sys
	url = https://github.com/SerhiiY-94/Sys.git
[submodule "src/Gui"]
	path = src/Gui
	url = https://github.com/SerhiiY-94/Gui.git
[submodule "src/Ray"]
	path = src/Ray
	url = https://github.com/SerhiiY-94/Ray.git
