src/libs/astc/* linguist-vendored
src/libs/dirent/* linguist-vendored
src/libs/stb/* linguist-vendored
src/libs/SDL2/* linguist-vendored
src/libs/SDL2/** linguist-vendored
src/libs/SDL2/*** linguist-vendored
src/Ren/tests/SDL2/* linguist-vendored
src/Ren/tests/SDL2/** linguist-vendored
src/Ren/tests/SDL2/*** linguist-vendored
src/Eng/Gui/tests/SDL2/* linguist-vendored
src/Eng/Gui/tests/SDL2/** linguist-vendored
src/Eng/Gui/tests/SDL2/*** linguist-vendored
src/Ren/SOIL2/* linguist-vendored
assets/models/* filter=lfs diff=lfs merge=lfs -text
assets/models/** filter=lfs diff=lfs merge=lfs -text
assets/models/*** filter=lfs diff=lfs merge=lfs -text
assets/scenes_src/* filter=lfs diff=lfs merge=lfs -text
assets/scenes_src/** filter=lfs diff=lfs merge=lfs -text
assets/scenes_src/*** filter=lfs diff=lfs merge=lfs -text
assets/sounds/* filter=lfs diff=lfs merge=lfs -text
assets/sounds/** filter=lfs diff=lfs merge=lfs -text
assets/sounds/*** filter=lfs diff=lfs merge=lfs -text
assets/textures/* filter=lfs diff=lfs merge=lfs -text
assets/textures/** filter=lfs diff=lfs merge=lfs -text
assets/textures/*** filter=lfs diff=lfs merge=lfs -text