language: cpp
compiler: gcc
dist: trusty
env:
- PACKAGE_VERSION="0.0.*"
matrix:
  include:
  - compiler: gcc
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - g++-6
    env: COMPILER=g++-6
script:
- mkdir build
- "(cd build && cmake .. && make)"
- "(cd build/tests && ./test_Net)"


