name: CI

on:
  pull_request:
    branches:
      - 'releases/**'

jobs:
  build-windows-x86_64-gl-rel:
    runs-on: [ windows, builder ]
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout Workflows
        uses: actions/checkout@v4
        with:
          sparse-checkout: .github
      - name: Re-initialize repository
        uses: ./.github/actions/checkout
      - name: Compile the code
        uses: ./.github/actions/build-windows-ninja
        with:
          cmake-args: "-DRENDERER=GL -DENABLE_DX_IMPL=OFF -DENABLE_VK_IMPL=OFF -DCMAKE_UNITY_BUILD=ON"
          config: "Release"
          bin-dir: "windows-x86_64-gl"
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: windows-x86_64-gl
          path: windows-x86_64-gl/
  build-windows-x86_64-gl-dbg:
    runs-on: [ windows, builder ]
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout Workflows
        uses: actions/checkout@v4
        with:
          sparse-checkout: .github
      - name: Re-initialize repository
        uses: ./.github/actions/checkout
      - name: Compile the code
        uses: ./.github/actions/build-windows-ninja
        with:
          cmake-args: "-DRENDERER=GL -DENABLE_DX_IMPL=OFF -DENABLE_VK_IMPL=OFF"
          config: "Debug"
  build-windows-x86_64-gl-dev:
    runs-on: [ windows, builder ]
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout Workflows
        uses: actions/checkout@v4
        with:
          sparse-checkout: .github
      - name: Re-initialize repository
        uses: ./.github/actions/checkout
      - name: Compile the code
        uses: ./.github/actions/build-windows-ninja
        with:
          cmake-args: "-DRENDERER=GL -DENABLE_DX_IMPL=OFF -DENABLE_VK_IMPL=OFF"
          config: "RelWithDebInfo"
  build-windows-x86_64-vk-rel:
    runs-on: [ windows, builder ]
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout Workflows
        uses: actions/checkout@v4
        with:
          sparse-checkout: .github
      - name: Re-initialize repository
        uses: ./.github/actions/checkout
      - name: Compile the code
        uses: ./.github/actions/build-windows-ninja
        with:
          cmake-args: "-DRENDERER=VK -DENABLE_DX_IMPL=OFF -DENABLE_VK_IMPL=ON -DCMAKE_UNITY_BUILD=ON"
          config: "Release"
          bin-dir: "windows-x86_64-vk"
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: windows-x86_64-vk
          path: windows-x86_64-vk/
  build-windows-x86_64-vk-dbg:
    runs-on: [ windows, builder ]
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout Workflows
        uses: actions/checkout@v4
        with:
          sparse-checkout: .github
      - name: Re-initialize repository
        uses: ./.github/actions/checkout
      - name: Compile the code
        uses: ./.github/actions/build-windows-ninja
        with:
          cmake-args: "-DRENDERER=VK -DENABLE_DX_IMPL=OFF -DENABLE_VK_IMPL=ON"
          config: "Debug"
  build-windows-x86_64-vk-dev:
    runs-on: [ windows, builder ]
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout Workflows
        uses: actions/checkout@v4
        with:
          sparse-checkout: .github
      - name: Re-initialize repository
        uses: ./.github/actions/checkout
      - name: Compile the code
        uses: ./.github/actions/build-windows-ninja
        with:
          cmake-args: "-DRENDERER=VK -DENABLE_DX_IMPL=OFF -DENABLE_VK_IMPL=ON"
          config: "RelWithDebInfo"
  # build-windows-x86_64-vk-asan:
  #   runs-on: [ windows, builder ]
  #   defaults:
  #     run:
  #       shell: bash
  #   steps:
  #     - name: Checkout Workflows
  #       uses: actions/checkout@v4
  #       with:
  #         sparse-checkout: .github
  #     - name: Re-initialize repository
  #       uses: ./.github/actions/checkout
  #     - name: Compile the code
  #       uses: ./.github/actions/build-windows
  #       with:
  #         cmake-args: "-DRENDERER=VK -DENABLE_DX_IMPL=OFF -DENABLE_VK_IMPL=ON"
  #         config: "Asan"
  #         bin-dir: "windows-x86_64-vk-asan"
  #     - name: Upload artifacts
  #       uses: actions/upload-artifact@v3
  #       with:
  #         name: windows-x86_64-vk-asan
  #         path: windows-x86_64-vk-asan/
  build-linux-x86_64-gl-rel:
    runs-on: [ linux, builder ]
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout Workflows
        uses: actions/checkout@v4
        with:
          sparse-checkout: .github
      - name: Re-initialize repository
        uses: ./.github/actions/checkout
      - name: Compile the code
        uses: ./.github/actions/build-linux
        with:
          cmake-args: "-DRENDERER=GL -DENABLE_DX_IMPL=OFF -DENABLE_VK_IMPL=OFF -DCMAKE_UNITY_BUILD=ON"
          config: "Release"
          bin-dir: "linux-x86_64-gl"
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: linux-x86_64-gl
          path: linux-x86_64-gl/
  build-linux-x86_64-gl-dbg:
    runs-on: [ linux, builder ]
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout Workflows
        uses: actions/checkout@v4
        with:
          sparse-checkout: .github
      - name: Re-initialize repository
        uses: ./.github/actions/checkout
      - name: Compile the code
        uses: ./.github/actions/build-linux
        with:
          cmake-args: "-DRENDERER=GL -DENABLE_DX_IMPL=OFF -DENABLE_VK_IMPL=OFF"
          config: "Debug"
  build-linux-x86_64-gl-dev:
    runs-on: [ linux, builder ]
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout Workflows
        uses: actions/checkout@v4
        with:
          sparse-checkout: .github
      - name: Re-initialize repository
        uses: ./.github/actions/checkout
      - name: Compile the code
        uses: ./.github/actions/build-linux
        with:
          cmake-args: "-DRENDERER=GL -DENABLE_DX_IMPL=OFF -DENABLE_VK_IMPL=OFF"
          config: "RelWithDebInfo"
  build-linux-x86_64-vk-rel:
    runs-on: [ linux, builder ]
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout Workflows
        uses: actions/checkout@v4
        with:
          sparse-checkout: .github
      - name: Re-initialize repository
        uses: ./.github/actions/checkout
      - name: Compile the code
        uses: ./.github/actions/build-linux
        with:
          cmake-args: "-DRENDERER=VK -DENABLE_DX_IMPL=OFF -DENABLE_VK_IMPL=ON -DCMAKE_UNITY_BUILD=ON"
          config: "Release"
          bin-dir: "linux-x86_64-vk"
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: linux-x86_64-vk
          path: linux-x86_64-vk/
  build-linux-x86_64-vk-dbg:
    runs-on: [ linux, builder ]
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout Workflows
        uses: actions/checkout@v4
        with:
          sparse-checkout: .github
      - name: Re-initialize repository
        uses: ./.github/actions/checkout
      - name: Compile the code
        uses: ./.github/actions/build-linux
        with:
          cmake-args: "-DRENDERER=VK -DENABLE_DX_IMPL=OFF -DENABLE_VK_IMPL=ON"
          config: "Debug"
  build-linux-x86_64-vk-dev:
    runs-on: [ linux, builder ]
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout Workflows
        uses: actions/checkout@v4
        with:
          sparse-checkout: .github
      - name: Re-initialize repository
        uses: ./.github/actions/checkout
      - name: Compile the code
        uses: ./.github/actions/build-linux
        with:
          cmake-args: "-DRENDERER=VK -DENABLE_DX_IMPL=OFF -DENABLE_VK_IMPL=ON"
          config: "RelWithDebInfo"
  build-linux-x86_64-vk-tsan:
    runs-on: [ linux, builder ]
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout Workflows
        uses: actions/checkout@v4
        with:
          sparse-checkout: .github
      - name: Re-initialize repository
        uses: ./.github/actions/checkout
      - name: Compile the code
        uses: ./.github/actions/build-linux
        with:
          cmake-args: "-DRENDERER=VK -DENABLE_DX_IMPL=OFF -DENABLE_VK_IMPL=ON"
          config: "Tsan"
          bin-dir: "linux-x86_64-vk-tsan"
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: linux-x86_64-vk-tsan
          path: linux-x86_64-vk-tsan/
#  test-img-windows-x86_64-vk-nv:
#    runs-on: [ windows, x86_64, nv ]
#    needs:
#      - build-windows-x86_64-vk-rel
#    steps:
#      - name: Checkout Workflows
#        uses: actions/checkout@v4
#        with:
#          sparse-checkout: .github
#      - name: Re-initialize repository
#        uses: ./.github/actions/checkout
#      - name: Run Tests
#        uses: ./.github/actions/test-img
#        with:
#          bin-name: "DummyAppVK"
#          bin-dir: "windows-x86_64-vk"
#          out-dir: "windows-x86_64-vk-nv-img-output"
#          test-args: "-d NV"
#      - name: Upload artifacts
#        uses: actions/upload-artifact@v3
#        if: always()
#        with:
#          name: windows-x86_64-vk-nv-img-output
#          path: windows-x86_64-vk-nv-img-output/
  test-img-windows-x86_64-vk-amd:
    runs-on: [ windows, x86_64, amd ]
    needs:
      - build-windows-x86_64-vk-rel
    steps:
      - name: Checkout Workflows
        uses: actions/checkout@v4
        with:
          sparse-checkout: .github
      - name: Re-initialize repository
        uses: ./.github/actions/checkout
      - name: Run Tests
        uses: ./.github/actions/test-img
        with:
          bin-name: "DummyAppVK"
          bin-dir: "windows-x86_64-vk"
          out-dir: "windows-x86_64-vk-amd-img-output"
          test-args: "-d AMD"
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: windows-x86_64-vk-amd-img-output
          path: windows-x86_64-vk-amd-img-output/
  test-img-windows-x86_64-vk-arc:
    runs-on: [ windows, x86_64, arc ]
    needs:
      - build-windows-x86_64-vk-rel
    steps:
      - name: Checkout Workflows
        uses: actions/checkout@v4
        with:
          sparse-checkout: .github
      - name: Re-initialize repository
        uses: ./.github/actions/checkout
      - name: Run Tests
        uses: ./.github/actions/test-img
        with:
          bin-name: "DummyAppVK"
          bin-dir: "windows-x86_64-vk"
          out-dir: "windows-x86_64-vk-arc-img-output"
          test-args: "-d Arc"
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: windows-x86_64-vk-arc-img-output
          path: windows-x86_64-vk-arc-img-output/
  # test-img-linux-x86_64-vk-nv:
  #   runs-on: [ linux, x86_64, nv ]
  #   needs:
  #     - build-linux-x86_64-vk-rel
  #   steps:
  #     - name: Checkout Workflows
  #       uses: actions/checkout@v4
  #       with:
  #         sparse-checkout: .github
  #     - name: Re-initialize repository
  #       uses: ./.github/actions/checkout
  #     - name: Run Tests
  #       uses: ./.github/actions/test-img
  #       with:
  #         bin-name: "DummyAppVK"
  #         bin-dir: "linux-x86_64-vk"
  #         out-dir: "linux-x86_64-vk-nv-img-output"
  #         test-args: "-d NV"
  #     - name: Upload artifacts
  #       uses: actions/upload-artifact@v3
  #       if: always()
  #       with:
  #         name: linux-x86_64-vk-nv-img-output
  #         path: linux-x86_64-vk-nv-img-output/
  # test-img-linux-x86_64-vk-amd:
  #   runs-on: [ linux, x86_64, amd ]
  #   needs:
  #     - build-linux-x86_64-vk-rel
  #   steps:
  #     - name: Checkout Workflows
  #       uses: actions/checkout@v4
  #       with:
  #         sparse-checkout: .github
  #     - name: Re-initialize repository
  #       uses: ./.github/actions/checkout
  #     - name: Run Tests
  #       uses: ./.github/actions/test-img
  #       with:
  #         bin-name: "DummyAppVK"
  #         bin-dir: "linux-x86_64-vk"
  #         out-dir: "linux-x86_64-vk-amd-img-output"
  #         test-args: "-d AMD --pt_nohwrt"
  #     - name: Upload artifacts
  #       uses: actions/upload-artifact@v3
  #       if: always()
  #       with:
  #         name: linux-x86_64-vk-amd-img-output
  #         path: linux-x86_64-vk-amd-img-output/
  test-img-windows-x86_64-gl-nv:
    runs-on: [ windows, x86_64, nv ]
    needs:
      - build-windows-x86_64-gl-rel
    steps:
      - name: Checkout Workflows
        uses: actions/checkout@v4
        with:
          sparse-checkout: .github
      - name: Re-initialize repository
        uses: ./.github/actions/checkout
      - name: Run Tests
        uses: ./.github/actions/test-img
        with:
          bin-name: "DummyAppGL"
          bin-dir: "windows-x86_64-gl"
          out-dir: "windows-x86_64-gl-nv-img-output"
          test-args: "-d NV"
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: windows-x86_64-gl-nv-img-output
          path: windows-x86_64-gl-nv-img-output/
  pack-assets-windows-x86_64-vk:
    runs-on: [ windows, x86_64 ]
    needs:
      - build-windows-x86_64-vk-rel
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout Workflows
        uses: actions/checkout@v4
        with:
          sparse-checkout: .github
      - name: Re-initialize repository
        uses: ./.github/actions/checkout
      - name: Prepare Assets
        uses: ./.github/actions/pack-assets
        with:
          bin-name: "DummyAppVK"
          bin-dir: "windows-x86_64-vk"
      - name: Upload artifacts (1/4)
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: coffee_maker-win-x86_64-vk
          path: coffee_maker-win-x86_64-vk/
      - name: Upload artifacts (2/4)
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: staircase-win-x86_64-vk
          path: staircase-win-x86_64-vk/
      - name: Upload artifacts (3/4)
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: ai043_01-win-x86_64-vk
          path: ai043_01-win-x86_64-vk/
      - name: Upload artifacts (4/4)
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: ai043_06-win-x86_64-vk
          path: ai043_06-win-x86_64-vk/